.App {
  text-align: center;
}

button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #61dafb;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

button:hover {
   background-color: #000764;
}
